/*-- scss:defaults --*/

// Define Fonts
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Use Bootstrap Icons for buttons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

// Define Colours
$ab-black               : #202020;
$ab-white               : #FAFAFA;
$ab-light-grey          : #EEEEEE;
$ab-mid-grey            : #555555;
$ab-teal                : #0AB3C7;
$ab-blue                : #3D52D5;
$ab-orange              : #E87800;
$ab-navy                : #003E74;
$ab-block               : #2c2825;

// Blues
$nhs-DarkBlue           : #003087;
$nhs-Blue               : #005EB8;
$nhs-BrightBlue         : #0072CE;
$nhs-LightBlue          : #41B6E6;
$nhs-AquaBlue           : #00A9CE;

// Neutrals
$nhs-Black              : #231f20;
$nhs-DarkGrey           : #425563;
$nhs-MidGrey            : #768692;
$nhs-PaleGrey           : #E8EDEE;

// Greens
$nhs-DarkGreen          : #006747;
$nhs-Green              : #009639;
$nhs-LightGreen         : #78BE20;
$nhs-AquaGreen          : #00A499;

// Highlights
$nhs-Purple             : #330072;
$nhs-DarkPink           : #7C2855;
$nhs-Pink               : #AE2573;
$nhs-DarkRed            : #8A1538;
$nhs-Red                : #DA291C;
$nhs-Orange             : #ED8B00;
$nhs-WarmYellow         : #FFB81C;
$nhs-Yellow             : #FAE100;

// SCSS variables
$body-color             : $ab-black;
$primary                : $ab-mid-grey;
$link-color             : $ab-orange;
$body-bg                : $ab-white;
$font-family-monospace  : 'JetBrains Mono' !default;
$body-font-family       : 'Oswald', Arial, sans-serif !important;
$body-font-weight       : 300;
$font-size-base         : 0.95rem;
$code-block-font-size   : 0.85rem;

/*-- scss:rules --*/

.btn {
    border-radius: 4px;
    margin-bottom: 2rem;
}

/* Unfixing font-smoothing */
body {
    -webkit-font-smoothing: auto;
}
