/*-- scss:defaults --*/

// Define Fonts
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Use Bootstrap Icons for buttons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

// $title-font-family: 'Oswald', Georgia, serif !important;

$font-family-monospace: 'JetBrains Mono' !default;
$body-font-family: 'Oxygen', Arial, sans-serif !important;
$body-font-weight: 300;

$font-size-base: 0.95rem;
$code-block-font-size: 0.85rem;
$nav-link-active-weight: 600;

// Define Colours
$zv-black:  #202020;
$zv-white:  #FAFAFA;
$zv-light-grey: #EEEEEE;
$zv-mid-grey: #555555;
$zv-teal:   #0AB3C7;
$zv-blue:   #3D52D5;
$zv-orange: #E87800;
$zv-navy:   #003E74;

// SCSS variables
$body-color: $zv-black;
$primary: $zv-mid-grey;
$link-color: $zv-orange;
$body-bg: $zv-white;



.btn {
    border-radius: 4px;
    margin-bottom: 2rem;
}

/* Unfixing font-smoothing */
body {
    -webkit-font-smoothing: auto;
}

